In [1]:
import pandas as pd


df = pd.read_csv('/Users/dhruvanand/Downloads/aint/llm/nyt_embs/articles_with_embeddings.csv')

In [2]:
df.to_parquet('/Users/dhruvanand/Downloads/aint/llm/nyt_embs/articles_with_embeddings.parquet')

In [3]:
len(df)

9101

In [4]:
df.head()

,id,title,full_url,comments,has_video,has_audio,n_tokens,embedding
0,1512064169222287361,Finland seizes artwork shipments suspected of ...,https://www.nytimes.com/2022/04/07/world/europ...,NaN,False,False,454,"[0.018884239718317986, -0.030246678739786148, ..."
1,1488331283226894340,U.S. and Allies Close to Reviving Nuclear Deal...,https://www.nytimes.com/2022/01/31/us/politics...,NaN,False,False,1581,"[-0.018842803314328194, -0.0316883847117424, 0..."
2,1510781717744914441,"After a long absence from social media, Lil Na...",https://www.nytimes.com/live/2022/04/03/arts/g...,NaN,False,False,353,"[-0.015916012227535248, 0.0023487871512770653,..."
3,1483514600406540288,Surprise in $216 Billion Budget Plan: New York...,https://www.nytimes.com/2022/01/18/nyregion/ne...,246.0,False,False,2149,"[0.0005309077096171677, -0.010138625279068947,..."
4,1479841992829980682,How to Think About Covid Data Right Now,https://www.nytimes.com/interactive/2022/01/07...,NaN,False,False,1383,"[-0.00014960144471842796, -0.00964638311415910..."

In [6]:
df.dtypes

id             int64
title         object
full_url      object
comments     float64
has_video       bool
has_audio       bool
n_tokens       int64
embedding     object
dtype: object